//
//  Planet.xcconfig
//  Planet
//
//  Created by Xin Liu on 1/16/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// This configuration is for Debug

ORGANIZATION_IDENTIFIER_PREFIX = xyz.planetable
SPARKLE_UPDATE_FEED_URL = https://opensource.planetable.xyz/planet/appcast.xml
PLANET_APP_ICON_NAME = AppIcon-Debug

PLANET_LITE_ICON_NAME = AppIcon-Debug

PLANET_ENABLE_APPLE_INTELLIGENCE = YES
PLANET_APPLE_INTELLIGENCE_COMPILATION_CONDITION_YES = PLANET_ENABLE_APPLE_INTELLIGENCE
PLANET_APPLE_INTELLIGENCE_COMPILATION_CONDITION_NO =
PLANET_ENABLE_AI_CHAT_SCROLL_MANAGEMENT = NO
PLANET_AI_CHAT_SCROLL_MANAGEMENT_COMPILATION_CONDITION_YES = PLANET_ENABLE_AI_CHAT_SCROLL_MANAGEMENT
PLANET_AI_CHAT_SCROLL_MANAGEMENT_COMPILATION_CONDITION_NO =
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) $(PLANET_APPLE_INTELLIGENCE_COMPILATION_CONDITION_$(PLANET_ENABLE_APPLE_INTELLIGENCE)) $(PLANET_AI_CHAT_SCROLL_MANAGEMENT_COMPILATION_CONDITION_$(PLANET_ENABLE_AI_CHAT_SCROLL_MANAGEMENT))

#include "marketing_version.xcconfig"
#include "versioning.xcconfig"
#include? "local.xcconfig"
