//
//  Planet.xcconfig
//  Planet
//
//  Created by Xin Liu on 1/16/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ORGANIZATION_IDENTIFIER_PREFIX = xyz.planetable
SPARKLE_UPDATE_FEED_URL = https://opensource.planetable.xyz/planet/appcast.xml

#include "marketing_version.xcconfig"
#include "versioning.xcconfig"
#include? "local.xcconfig"
