//
//  Release.xcconfig
//  Planet
//
//  Created by Kai on 5/26/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


ORGANIZATION_IDENTIFIER_PREFIX = xyz.planetable
DEVELOPMENT_TEAM = 66KP7KX9MX
CODE_SIGN_IDENTITY = Developer ID Application
CODE_SIGN_STYLE = Manual
CODE_SIGN_INJECT_BASE_ENTITLEMENTS = NO
OTHER_CODE_SIGN_FLAGS = --timestamp

#include "marketing_version.xcconfig"
#include "versioning.xcconfig"
#include? "local.xcconfig"
